html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#haut-page {
  background-color: #FF914D;
  min-height: 100vh;
  color: #fcfafa;
}
#haut-page #navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
#haut-page #presentation {
  padding-top: 7%;
}
#haut-page #presentation h2, #haut-page #presentation h4 {
  text-align: center;
}
#haut-page #presentation #div-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  min-height: 500px;
}
#haut-page #presentation #div-presentation #p-presentation {
  text-align: left;
  min-width: 400px;
  max-width: 550px;
  margin: auto;
  margin-top: 100px;
}
#haut-page #presentation #div-presentation #p-presentation .voirCV {
  background-color: white;
  border: none;
  color: #FF914D;
  cursor: pointer;
  display: inline-block;
  font-family: "BenchNine", Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
#haut-page #presentation #div-presentation #p-presentation .voirCV:before,
#haut-page #presentation #div-presentation #p-presentation .voirCV:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
#haut-page #presentation #div-presentation #p-presentation .voirCV:before {
  border-color: white;
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}
#haut-page #presentation #div-presentation #p-presentation .voirCV:after {
  border-bottom-width: 2px;
  border-color: white;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
#haut-page #presentation #div-presentation #p-presentation .voirCV:hover,
#haut-page #presentation #div-presentation #p-presentation .voirCV.hover {
  background-color: white;
  color: #FF914D;
  text-decoration: none;
}
#haut-page #presentation #div-presentation #p-presentation .voirCV:hover:before,
#haut-page #presentation #div-presentation #p-presentation .voirCV.hover:before,
#haut-page #presentation #div-presentation #p-presentation .voirCV:hover:after,
#haut-page #presentation #div-presentation #p-presentation .voirCV.hover:after {
  height: 100%;
  width: 100%;
}
#haut-page #presentation #div-presentation #logo {
  height: 300px;
  margin: auto;
}

#realisations {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#realisations #realisationRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#realisations .card {
  max-width: 350px;
  z-index: 0;
}
#realisations .card .btn-primary {
  background-color: #FF914D;
  border-color: #FF914D;
}
#realisations .card .btn-primary:hover {
  opacity: 0.8;
}

#competences {
  padding-top: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#competences .ldBar {
  color: #FF914D;
}
#competences .ldBar path.mainline {
  stroke-width: 5;
  stroke: #FF914D;
  stroke-linecap: round;
}
#competences #skills {
  text-align: center;
  margin-top: 40px;
  max-width: 700px;
}
#competences #skills #barSkills {
  margin: auto;
}

#footer {
  background-color: #343a40;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#footer .list-group-item-dark {
  background-color: #343a40;
  color: white;
  width: 250px;
}
#footer #contact #iconeContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer #contact #iconeContact .icone {
  width: 50px;
}
#footer #contact #iconeContact a:hover .icone {
  opacity: 0.6;
}

#video-pop {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.466);
}
#video-pop video {
  outline-style: none;
}
#video-pop button {
  background-color: #FF914D;
  width: 60%;
  height: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.795);
  outline-style: none;
  margin-top: 10px;
  border-radius: 3px;
}
#video-pop button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1070px) {
  #haut-page #presentation {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  #haut-page #presentation #div-presentation {
    flex-direction: column-reverse;
  }
  #haut-page #presentation #div-presentation #p-presentation {
    min-width: 400px;
  }

  #realisationRow {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  #haut-page #presentation #div-presentation #p-presentation {
    min-width: 300px;
    width: 80%;
  }

  #competences #skills p {
    width: 80%;
    margin: auto;
  }

  #footer {
    flex-direction: column;
    justify-content: space-around;
    min-height: 700px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
