html #skills #list-skills #competenceAn, body #skills #list-skills #competenceAn, html #skills #list-skills #competenceCPP, body #skills #list-skills #competenceCPP, html #skills #list-skills #competenceJAVA, body #skills #list-skills #competenceJAVA, html #skills #list-skills #competenceDOCKER, body #skills #list-skills #competenceDOCKER, html #skills #list-skills #competenceGIT, body #skills #list-skills #competenceGIT, html #skills #list-skills #competenceSYMFONY, body #skills #list-skills #competenceSYMFONY, html #skills #list-skills #competenceSQL, body #skills #list-skills #competenceSQL, html #skills #list-skills #competencePHP, body #skills #list-skills #competencePHP, html #skills #list-skills #competenceBOOTSTRAP, body #skills #list-skills #competenceBOOTSTRAP, html #skills #list-skills #competenceSASS, body #skills #list-skills #competenceSASS, html #skills #list-skills #competenceCSS3, body #skills #list-skills #competenceCSS3, html #skills #list-skills #competenceHTML5, body #skills #list-skills #competenceHTML5, html #skills #list-skills #competenceREACT, body #skills #list-skills #competenceREACT, html #skills #list-skills #competenceFLUTTER, body #skills #list-skills #competenceFLUTTER {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 2px solid #dee2e6;
  border-radius: 0.25rem;
  transform-origin: 50% 0%;
  transition: background-color 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
html #skills #list-skills #competenceAn:after, body #skills #list-skills #competenceAn:after, html #skills #list-skills #competenceCPP:after, body #skills #list-skills #competenceCPP:after, html #skills #list-skills #competenceJAVA:after, body #skills #list-skills #competenceJAVA:after, html #skills #list-skills #competenceDOCKER:after, body #skills #list-skills #competenceDOCKER:after, html #skills #list-skills #competenceGIT:after, body #skills #list-skills #competenceGIT:after, html #skills #list-skills #competenceSYMFONY:after, body #skills #list-skills #competenceSYMFONY:after, html #skills #list-skills #competenceSQL:after, body #skills #list-skills #competenceSQL:after, html #skills #list-skills #competencePHP:after, body #skills #list-skills #competencePHP:after, html #skills #list-skills #competenceBOOTSTRAP:after, body #skills #list-skills #competenceBOOTSTRAP:after, html #skills #list-skills #competenceSASS:after, body #skills #list-skills #competenceSASS:after, html #skills #list-skills #competenceCSS3:after, body #skills #list-skills #competenceCSS3:after, html #skills #list-skills #competenceHTML5:after, body #skills #list-skills #competenceHTML5:after, html #skills #list-skills #competenceREACT:after, body #skills #list-skills #competenceREACT:after, html #skills #list-skills #competenceFLUTTER:after, body #skills #list-skills #competenceFLUTTER:after {
  border-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: relative;
  width: 0px;
  border-bottom-width: 4px;
  border-color: #ffc56d;
  bottom: -7px;
  left: 0;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  overflow-x: hidden;
}
html h1, body h1 {
  color: #7458E9;
}
html #home, body #home {
  background: linear-gradient(to top right, blue, pink);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html #home #home-content, body #home #home-content {
  background-color: white;
  margin: auto;
  max-width: 700px;
  min-width: 70vw;
  min-height: 70vh;
  margin-bottom: -19vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html #home #home-content #home-info-content, body #home #home-content #home-info-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
html #home #home-content #home-info-content img, body #home #home-content #home-info-content img {
  width: 40%;
}
html #home #home-content #home-info-content #home-description, body #home #home-content #home-info-content #home-description {
  width: 55%;
  min-height: 50vh;
}
html #home #home-content #home-info-content #home-description h1, body #home #home-content #home-info-content #home-description h1 {
  font-weight: bold;
}
html #home #home-content #home-info-content #home-description h2, body #home #home-content #home-info-content #home-description h2 {
  color: #3C4451;
}
html #home #home-content #home-info-content #home-description a, body #home #home-content #home-info-content #home-description a {
  text-decoration: none;
  color: #7458E9;
}
html #home #home-content #home-info-content #home-description a:hover, body #home #home-content #home-info-content #home-description a:hover {
  color: #3d1cc4;
}
html #home #home-content #home-contact-content, body #home #home-content #home-contact-content {
  width: 100%;
  min-height: 8vh;
  background-color: #7458E9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html #home #home-content #home-contact-content p, body #home #home-content #home-contact-content p {
  color: white;
  font-weight: 500;
  font-size: larger;
  margin-bottom: 0;
}
html #home #home-content #home-contact-content img, body #home #home-content #home-contact-content img {
  width: 40px;
}
html #studies, body #studies {
  min-height: 100vh;
  margin-top: 20vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html #studies h2, body #studies h2 {
  color: #7458E9;
}
html #studies img, body #studies img {
  width: 20%;
}
html #studies .lines, body #studies .lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
html #studies .lines .dot, body #studies .lines .dot {
  width: 14px;
  height: 14px;
  background: #9777f0;
  border-radius: 7px;
  opacity: 1;
  transition: opacity 0.4s ease;
}
html #studies .lines .dot:hover, body #studies .lines .dot:hover {
  cursor: pointer;
  opacity: 0.7;
}
html #studies .lines .line, body #studies .lines .line {
  height: 2px;
  width: 103px;
  background: #9777f0;
}
html #studies .lines .line-to-come, body #studies .lines .line-to-come {
  height: 2px;
  width: 10px;
  margin-right: 3px;
  background: #9777f0;
}
html #studies .lines .selected, body #studies .lines .selected {
  width: 28px;
  height: 28px;
  background: #7458E9;
  border-radius: 14px;
  margin-left: -7px;
  opacity: 1 !important;
}
html #studies .degree-separator, body #studies .degree-separator {
  width: 80%;
  max-width: 1100px;
  color: #3C4451;
  height: 1px;
}
html #studies #degrees, body #studies #degrees {
  width: 80%;
  max-width: 1100px;
  min-height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0px 70px 0px;
}
html #studies #degrees .degree, body #studies #degrees .degree {
  width: 60%;
  padding-left: 10%;
  display: none;
  opacity: 0;
}
html #studies #degrees .degree h3, body #studies #degrees .degree h3 {
  font-weight: 700;
  color: #7458E9;
}
html #studies #degrees .degree h4, html #studies #degrees .degree h5, body #studies #degrees .degree h4, body #studies #degrees .degree h5 {
  color: #3C4451;
}
html #studies #degrees .displayed, body #studies #degrees .displayed {
  display: block;
}
html #studies #degrees a, body #studies #degrees a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #7458E9;
  transition: background-color 0.4s ease;
}
html #studies #degrees a p, body #studies #degrees a p {
  font-size: 25px;
  color: white;
  font-weight: 700;
  margin-top: 13px;
}
html #studies #degrees a:hover, body #studies #degrees a:hover {
  background-color: #aa99f1;
  cursor: pointer;
}
html .custom-shape-divider-top-1, body .custom-shape-divider-top-1 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: linear-gradient(to top right, blue, pink);
  height: 228px;
}
html .custom-shape-divider-top-1 svg, body .custom-shape-divider-top-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}
html .custom-shape-divider-top-1 .shape-fill, body .custom-shape-divider-top-1 .shape-fill {
  fill: #ffffff;
}
html .custom-shape-divider-bottom-1, body .custom-shape-divider-bottom-1 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -115px;
}
html .custom-shape-divider-bottom-1 svg, body .custom-shape-divider-bottom-1 svg {
  position: relative;
  display: block;
  width: 108%;
  height: 125px;
  transform: rotateY(180deg);
}
html .custom-shape-divider-bottom-1 .shape-fill, body .custom-shape-divider-bottom-1 .shape-fill {
  fill: #FFFFFF;
}
html #experiences, body #experiences {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html #experiences #list-experiences, body #experiences #list-experiences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
html #experiences #list-experiences .line, body #experiences #list-experiences .line {
  height: 1530px;
  width: 2px;
  background: #7458E9;
  margin-left: 14px;
  margin-bottom: 150px;
}
html #experiences #list-experiences .cards, body #experiences #list-experiences .cards {
  margin-left: 12px;
  height: 120%;
  transform: translateY(-20px);
}
html #experiences #list-experiences .cards .experience, body #experiences #list-experiences .cards .experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
html #experiences #list-experiences .cards .experience .dot, body #experiences #list-experiences .cards .experience .dot {
  width: 30px;
  height: 30px;
  background: #7458E9;
  border-radius: 15px;
  margin-right: 40px;
  margin-left: -28px;
}
html #experiences #list-experiences .cards .card, body #experiences #list-experiences .cards .card {
  min-width: 250px;
  max-width: 400px;
  min-height: 250px;
  max-height: 500px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html #experiences #list-experiences .cards .card img, body #experiences #list-experiences .cards .card img {
  border-radius: 5px;
}
html #experiences #list-experiences .cards .card h4, body #experiences #list-experiences .cards .card h4 {
  color: #3C4451;
  font-weight: 800;
}
html #experiences #list-experiences .cards .card h5, html #experiences #list-experiences .cards .card h6, body #experiences #list-experiences .cards .card h5, body #experiences #list-experiences .cards .card h6 {
  color: #3C4451;
  font-weight: 700;
}
html #projects, body #projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html #projects #list-projects, body #projects #list-projects {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
html #projects #list-projects .card, body #projects #list-projects .card {
  max-width: 350px;
  z-index: 0;
}
html #projects #list-projects .card .btn-primary, body #projects #list-projects .card .btn-primary {
  background-color: #7458E9;
  border-color: #7458E9;
}
html #projects #list-projects .card .btn-primary:hover, body #projects #list-projects .card .btn-primary:hover {
  opacity: 0.8;
}
html #projects #list-projects .card-body, body #projects #list-projects .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html #projects #list-projects figure, body #projects #list-projects figure {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: auto;
  background-color: #1a1818;
  border-radius: 6px;
  color: white;
}
html #projects #list-projects figure *, body #projects #list-projects figure * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
html #projects #list-projects figure h3, body #projects #list-projects figure h3 {
  color: #7458E9;
}
html #projects #list-projects figure figcaption, body #projects #list-projects figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  padding: 10px;
}
html #projects #list-projects figure a, body #projects #list-projects figure a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
html #projects #list-projects figure img, body #projects #list-projects figure img {
  vertical-align: top;
  min-width: 100%;
  backface-visibility: hidden;
}
html #projects #list-projects figure:hover > img, html #projects #list-projects figure.hover > img, body #projects #list-projects figure:hover > img, body #projects #list-projects figure.hover > img {
  opacity: 0.1;
}
html #projects #list-projects figure:hover figcaption, html #projects #list-projects figure.hover figcaption, body #projects #list-projects figure:hover figcaption, body #projects #list-projects figure.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
html #skills, body #skills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html #skills #list-skills, body #skills #list-skills {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}
html #skills #list-skills .skillImg, body #skills #list-skills .skillImg {
  max-height: 85%;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
}
html #skills #list-skills #competenceFLUTTER:after, body #skills #list-skills #competenceFLUTTER:after {
  border-color: #89e3ff;
}
html #skills #list-skills #competenceFLUTTER:hover:after, html #skills #list-skills #competenceFLUTTER.hover:after, body #skills #list-skills #competenceFLUTTER:hover:after, body #skills #list-skills #competenceFLUTTER.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceFLUTTER:hover, body #skills #list-skills #competenceFLUTTER:hover {
  background-color: #89e3ff;
}
html #skills #list-skills #competenceREACT img, body #skills #list-skills #competenceREACT img {
  margin-top: 30px;
}
html #skills #list-skills #competenceREACT:after, body #skills #list-skills #competenceREACT:after {
  border-color: #89e3ff;
}
html #skills #list-skills #competenceREACT:hover:after, html #skills #list-skills #competenceREACT.hover:after, body #skills #list-skills #competenceREACT:hover:after, body #skills #list-skills #competenceREACT.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceREACT:hover, body #skills #list-skills #competenceREACT:hover {
  background-color: #89e3ff;
}
html #skills #list-skills #competenceHTML5:after, body #skills #list-skills #competenceHTML5:after {
  border-color: #ffc56d;
}
html #skills #list-skills #competenceHTML5:hover:after, html #skills #list-skills #competenceHTML5.hover:after, body #skills #list-skills #competenceHTML5:hover:after, body #skills #list-skills #competenceHTML5.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceHTML5:hover, body #skills #list-skills #competenceHTML5:hover {
  background-color: #ffc56d;
}
html #skills #list-skills #competenceCSS3:after, body #skills #list-skills #competenceCSS3:after {
  border-color: #6dd1ff;
}
html #skills #list-skills #competenceCSS3:hover:after, html #skills #list-skills #competenceCSS3.hover:after, body #skills #list-skills #competenceCSS3:hover:after, body #skills #list-skills #competenceCSS3.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceCSS3:hover, body #skills #list-skills #competenceCSS3:hover {
  background-color: #6dd1ff;
}
html #skills #list-skills #competenceSASS:after, body #skills #list-skills #competenceSASS:after {
  border-color: #e69df8;
}
html #skills #list-skills #competenceSASS:hover:after, html #skills #list-skills #competenceSASS.hover:after, body #skills #list-skills #competenceSASS:hover:after, body #skills #list-skills #competenceSASS.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceSASS:hover, body #skills #list-skills #competenceSASS:hover {
  background-color: #e69df8;
}
html #skills #list-skills #competenceBOOTSTRAP:after, body #skills #list-skills #competenceBOOTSTRAP:after {
  border-color: #bd9df8;
}
html #skills #list-skills #competenceBOOTSTRAP:hover:after, html #skills #list-skills #competenceBOOTSTRAP.hover:after, body #skills #list-skills #competenceBOOTSTRAP:hover:after, body #skills #list-skills #competenceBOOTSTRAP.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceBOOTSTRAP:hover, body #skills #list-skills #competenceBOOTSTRAP:hover {
  background-color: #bd9df8;
}
html #skills #list-skills #competencePHP:after, body #skills #list-skills #competencePHP:after {
  border-color: #7590a3;
}
html #skills #list-skills #competencePHP:hover:after, html #skills #list-skills #competencePHP.hover:after, body #skills #list-skills #competencePHP:hover:after, body #skills #list-skills #competencePHP.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competencePHP:hover, body #skills #list-skills #competencePHP:hover {
  background-color: #7590a3;
}
html #skills #list-skills #competenceSQL:after, body #skills #list-skills #competenceSQL:after {
  border-color: #85b3d3;
}
html #skills #list-skills #competenceSQL:hover:after, html #skills #list-skills #competenceSQL.hover:after, body #skills #list-skills #competenceSQL:hover:after, body #skills #list-skills #competenceSQL.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceSQL:hover, body #skills #list-skills #competenceSQL:hover {
  background-color: #85b3d3;
}
html #skills #list-skills #competenceSYMFONY:after, body #skills #list-skills #competenceSYMFONY:after {
  border-color: #818181;
}
html #skills #list-skills #competenceSYMFONY:hover:after, html #skills #list-skills #competenceSYMFONY.hover:after, body #skills #list-skills #competenceSYMFONY:hover:after, body #skills #list-skills #competenceSYMFONY.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceSYMFONY:hover, body #skills #list-skills #competenceSYMFONY:hover {
  background-color: #818181;
}
html #skills #list-skills #competenceGIT:after, body #skills #list-skills #competenceGIT:after {
  border-color: #ffbc70;
}
html #skills #list-skills #competenceGIT:hover:after, html #skills #list-skills #competenceGIT.hover:after, body #skills #list-skills #competenceGIT:hover:after, body #skills #list-skills #competenceGIT.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceGIT:hover, body #skills #list-skills #competenceGIT:hover {
  background-color: #ffbc70;
}
html #skills #list-skills #competenceDOCKER:after, body #skills #list-skills #competenceDOCKER:after {
  border-color: #70bfff;
}
html #skills #list-skills #competenceDOCKER:hover:after, html #skills #list-skills #competenceDOCKER.hover:after, body #skills #list-skills #competenceDOCKER:hover:after, body #skills #list-skills #competenceDOCKER.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceDOCKER:hover, body #skills #list-skills #competenceDOCKER:hover {
  background-color: #70bfff;
}
html #skills #list-skills #competenceJAVA:after, body #skills #list-skills #competenceJAVA:after {
  border-color: #ffb070;
}
html #skills #list-skills #competenceJAVA:hover:after, html #skills #list-skills #competenceJAVA.hover:after, body #skills #list-skills #competenceJAVA:hover:after, body #skills #list-skills #competenceJAVA.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceJAVA:hover, body #skills #list-skills #competenceJAVA:hover {
  background-color: #ffb070;
}
html #skills #list-skills #competenceCPP:after, body #skills #list-skills #competenceCPP:after {
  border-color: #70bfff;
}
html #skills #list-skills #competenceCPP:hover:after, html #skills #list-skills #competenceCPP.hover:after, body #skills #list-skills #competenceCPP:hover:after, body #skills #list-skills #competenceCPP.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceCPP:hover, body #skills #list-skills #competenceCPP:hover {
  background-color: #70bfff;
}
html #skills #list-skills #competenceAn:after, body #skills #list-skills #competenceAn:after {
  border-color: #e92828;
}
html #skills #list-skills #competenceAn:hover:after, html #skills #list-skills #competenceAn.hover:after, body #skills #list-skills #competenceAn:hover:after, body #skills #list-skills #competenceAn.hover:after {
  height: 100%;
  width: 100%;
}
html #skills #list-skills #competenceAn:hover, body #skills #list-skills #competenceAn:hover {
  background-color: #f84646;
}
html #footer, body #footer {
  background-color: #EFEFEF;
  color: #3C4451;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
html #footer #information, body #footer #information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}
html #footer #information .list-group-item-dark, body #footer #information .list-group-item-dark {
  background-color: #EFEFEF;
  text-align: center;
  color: #3C4451;
  width: 250px;
}
html #footer #copyRight, body #footer #copyRight {
  margin: 70px;
}
html #footer #contact, body #footer #contact {
  margin: 70px;
}
html #footer #contact #iconeContact, body #footer #contact #iconeContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html #footer #contact #iconeContact .icone, body #footer #contact #iconeContact .icone {
  width: 40px;
}
html #footer #contact #iconeContact a:hover .icone, body #footer #contact #iconeContact a:hover .icone {
  opacity: 0.6;
}
html .video-pop, body .video-pop {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(230, 230, 230, 0.8);
}
html .video-pop video, body .video-pop video {
  outline-style: none;
  max-height: 500px;
}
html .video-pop a, body .video-pop a {
  background-color: #7458E9;
  width: 60%;
  height: 30px;
  font-size: 20px;
  color: white;
  outline-style: none;
  margin-top: 10px;
  border-radius: 3px;
  text-align: center;
}
html .video-pop a:hover, body .video-pop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

@media screen and (max-width: 700px) {
  #home-info-content {
    flex-direction: column;
    padding: 10px;
  }
  #home-info-content #home-description {
    min-width: 90%;
  }

  #home-contact-content p {
    font-size: small;
  }
  #home-contact-content img {
    width: 35px;
  }

  #studies {
    margin-top: 15vh !important;
  }
  #studies .lines .line {
    max-width: 80px;
  }
  #studies .degree-separator {
    min-width: 95%;
  }
  #studies #degrees {
    min-width: 100%;
    margin: 0;
  }
  #studies #degrees .degree h3 {
    font-size: 24px;
  }
  #studies #degrees .degree h4, #studies #degrees .degree h5 {
    color: #3C4451;
  }
  #studies #degrees .degree h4 {
    font-size: 20px;
  }
  #studies #degrees .degree h5 {
    font-size: 16px;
  }
  #studies #degrees a {
    width: 30px !important;
    height: 30px !important;
  }
  #studies #degrees a p {
    font-size: 15px !important;
    margin-top: 8px;
  }

  #experiences #list-experiences .line {
    display: none;
  }
  #experiences #list-experiences .cards {
    margin-left: 0px !important;
    height: 120%;
  }
  #experiences #list-experiences .cards .experience .dot {
    display: none;
  }

  #projects h1 {
    margin: 5px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
